<a href="https://colab.research.google.com/github/sudheshnakatragadda/python/blob/main/MODIFY_STRINGS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
## modify strings
a="RRR has been released"
print(a.upper())

RRR HAS BEEN RELEASED

In [8]:
## remove whitespace
a="  RRR has been released"
print(a.strip())

RRR has been released

In [11]:
## replace string
a="RRR has been released"
print(a.replace("RRR","Pokiri"))

Pokiri has been released

In [22]:
## split string
a="RRR has been released"
print(a.split())
c="RRR,has been released"
print(c.split(","))

['RRR', 'has', 'been', 'released']
['RRR', 'has been released']

In [31]:
## cancatination
a="RRR has been released"
b="I went to the movie with friends"
c= a + " " + b
print(c)

RRR has been released I went to the movie with friends

In [40]:
a="RRR has been released"
b="I went to the movie with friends"
#print(a+" "+b)
#print("% a % b" %(a,b))
a=123
b="hello {}"
print(b.format(a,b))

hello 123

In [45]:
price=150
quantity=3
item=1
name="cocacola"
myorder="I bought {3} with {0} having {1} and purchase {2}"
print(myorder.format(price,quantity,item,name))

I bought cocacola with 150 having 3 and purchase 1

In [48]:
sub1=int(input("enter math marks"))
sub2=int(input("enter eng marks"))
sub3=int(input("enter cse marks"))
sub4=int(input("enter chem marks"))
marks="my math marks are {0}, eng marks are {1}, cse marks are {2}, chem marks are {3}"
print(marks.format(sub1,sub2,sub3,sub4))

enter math marks1
enter eng marks2
enter cse marks3
enter chem marks4
my math marks are 1, eng marks are 2, cse marks are 3, chem marks are 4

In [55]:
## characters
a="hello sudheshna \"hi\""
print(a)
b="hey sudheshna \\hello"
print(b)
c="hello \nsudheshna"
print(c)
c="hello \nsudheshna"
print(c)

hello sudheshna "hi"
hey sudheshna \hello
hello
sudheshna
hello
sudheshna

In [60]:
#octal
a="\110\145\154\154\157"
print(a)

Hello

In [65]:
## string methods
a="sudheshna"
b= a.capitalize()
print(b)

Sudheshna

In [67]:
a="Sudheshna"
b=a.casefold()
print(b)

sudheshna

In [72]:
a="sudheshna"
b=a.center(30)
print(b)

          sudheshna

In [76]:
a="hello world welcome to my world"
b=a.count("")
print(b)

32