<a href="https://colab.research.google.com/github/sudheshnakatragadda/python/blob/main/SETS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
##length of the set
thisset = {"a", "b", "c","d"}
print(len(thisset))

4

In [10]:
##string,int,boolean
set1 = {"a", "b", "c"}
set2 = {1, 5, 7, 9, 3}
set3 = {True, False}
print(set1)
print(set2)
print(set3)

{'c', 'a', 'b'}
{1, 3, 5, 7, 9}
{False, True}

In [12]:
##type
myset = {"a", "b", "c"}

print(type(myset))

<class 'set'>

In [18]:
##set constructor
thisset = set(("a", "b", "c")) 
print(thisset)

{'c', 'a', 'b'}