<a href="https://colab.research.google.com/github/sudheshnakatragadda/python/blob/main/SETS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
##length of the set
thisset = {"a", "b", "c","d"}
print(len(thisset))

4

In [10]:
##string,int,boolean
set1 = {"a", "b", "c"}
set2 = {1, 5, 7, 9, 3}
set3 = {True, False}
print(set1)
print(set2)
print(set3)

{'c', 'a', 'b'}
{1, 3, 5, 7, 9}
{False, True}

In [12]:
##type
myset = {"a", "b", "c"}

print(type(myset))

<class 'set'>

In [25]:
##set constructor
thisset = set(("a", "b", "c")) 
print(thisset)

{'c', 'a', 'b'}

In [26]:
##ACCESS ITEMS
#loops through sets
thisset = {"a", "b", "c"}

for x in thisset:
  print(x)

c
a
b

In [28]:
##check if the item are present or not
thisset = {"a", "b", "c"}

print("b" in thisset)

True

In [30]:
##add item
thisset = {"a", "b", "c"}

thisset.add("d")

print(thisset)

{'c', 'd', 'a', 'b'}

In [32]:
##remove item
thisset = {"a", "b", "c"}

thisset.remove("b")

print(thisset)

{'c', 'a'}

In [34]:
##loop
thisset = {"a", "b", "c"}

for x in thisset:
  print(x)

c
a
b

In [36]:
##join
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set3 = set1.union(set2)
print(set3)

{'c', 1, 2, 3, 'a', 'b'}

In [ ]:
##