<a href="https://colab.research.google.com/github/sudheshnakatragadda/python/blob/main/TUPLE.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [9]:
##tuple
thistuple = ("sudh", "jyo", "siri")
print(thistuple)

('sudh', 'jyo', 'siri')

In [12]:
##tuple length
thistuple = ("1","2","3","4","5")
print(len(thistuple))

5

In [16]:
## tuple with one item
thistuple = ("dairymilk",)
print(type(thistuple))

#NOT a tuple
thistuple = ("dairymilk")
print(type(thistuple))

<class 'tuple'>
<class 'str'>

In [20]:
## ACCESS TUPLE
thistuple = ("physics", "english", "maths")
print(thistuple[0])

physics

In [23]:
## NEGATIVE INDEXING
thistuple = ("physics", "english", "maths")
print(thistuple[-3])

physics

In [25]:
##RANGE OF INDEXES
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[2:5])

('cherry', 'orange', 'kiwi')

In [27]:
##
thistuple = ("A","B","C","D","E","F")
print(thistuple[:4])

('A', 'B', 'C', 'D')

In [29]:
##
thistuple = ("A","B","C","D","E","F")
print(thistuple[4:])

('E', 'F')

In [34]:
##Check if "A" is present in the tuple
thistuple = ("A","B","C")
if "A" in thistuple:
  print("Yes, 'A' is in the letters tuple")

Yes, 'A' is in the letters tuple

In [37]:
##ADD TUPLE
thistuple = ("A","B","C")
y = list(thistuple)
y.append("D")
thistuple = tuple(y)
print(thistuple)

('A', 'B', 'C', 'D')

In [38]:
## Add tuple to a tuple
thistuple = ("apple", "banana", "cherry")
y = ("orange",)
thistuple += y

print(thistuple)

('apple', 'banana', 'cherry', 'orange')

In [40]:
##remove items
thistuple = ("apple", "banana", "cherry")
y = list(thistuple)
y.remove("apple")
thistuple = tuple(y)
print(thistuple)

('banana', 'cherry')

In [44]:
##Packing a tuple
fruits = ("apple", "banana", "cherry")
print(fruits)

('apple', 'banana', 'cherry')